{% load static %}
<!DOCTYPE html>

<html lang="fr">
	<head>
		<!-- En-tête de la page et de l'onglet -->
		<meta charset="utf-8" />
		<meta name="description" content="Chaque semaine des recettes simples et adaptées à vos goûts. Faites votre choix, nous remplissons votre caddie automatiquement. Finie la corvée des courses !">
		<meta name="keywords" content="bokalia, courses, cuisine, drive, liste, livraison, recettes, ooshop, 750g, bio, éthique, responsable">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Sarabun|Thasadith|Montserrat+Alternates" rel="stylesheet">
		<script type="text/javascript" src="{% static 'pages/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'pages/js/base_fonctions.js' %}"></script>
		<script type="text/javascript" src="{% static 'pages/js/base.js' %}"></script>
		<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->

		{% block extra_head %}{% endblock %}
		<title>{% block title %}Bokalia - Drive Vrac & Bio{% endblock %}</title>
	</head>

	<body>

		<div class="body_b">
			<header>
				<div class="header_haut bloc_principaux">
					<div class="nav_mobile_header">
						<div id="nav_bt_burger"></div>
					</div>

					<div class="logo_bokalia">
						<img src="{% static "pages/images/logo_bokalia.png" %}" alt="Logo Bokalia" id="logo_bokalia_mini" />
					</div>

					<div class="search_div">
						<form class="search_form" action="{% url 'all_products' %}" method="get" accept-charset="utf-8" autocomplete="off">
							<!--{% csrf_token %}-->
							<input name="query" id="search_text" type="search" size="30" placeholder="Lait, œuf, farine…"/>
							<!--<input id="submit_img" type="submit" style="background:url({% static "pages/images/icon_search.png" %})" alt="icone rechercher" value = " ">-->
							<input id="submit_img" type="submit" alt="icone rechercher" value = " ">
						</form>
					</div>

					<div class="login_basket">
						<div class="login">
							<a href="#" id="connexion_img"><img src="{% static "pages/images/icon_login.png" %}" alt="Logo du LogIn" height="35px" /></a>
							<a href="#" id="connexion_text">Me connecter</a>
						</div>
						<div class="basket">
							<a class="panier">
								<div class="panierETnbr">
									<img src="{% static "pages/images/icon_panier.png" %}" alt="Logo du panier"/>
									<span id="nbr_article_dans_panier">0</span>
								</div>
							</a>
							<div class="panier_reduit">
								<div class="ajout_dans_panier">
									<div id="panier_vide_msg" class="classArticlePanier"><a>Votre panier est vide</a></div>
								</div>

								<div class="voir_panier">
									<a  id="voir_panier">Voir le panier</a> <!-- Ajouter href="/panier/" une fois fini-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class='header_nav'>

				<div class="bandeau_fond bf_mobile">
					<div class="bandeau_menu">
						<ul class="navigation">
							<li class='affnav'><a class='menu_1 menu_a' href="xxx" data_href='kk'>Nos produits</a>
								<ul class='sousMenu subMenuP subMenu1 sousMenuMob' >
									<li><a class='menu_2 menu_a voir_tout' href="yyy">Pate, riz et légumineuses</a>
										<ul class='sousMenu subMenu2 sousMenuMob'>
											<li><a class='menu_3' href="bbb">pate</a></li>
											<li><a class='menu_3'>riz</a></li>
											<li><a class='menu_3'>Legumineuse</a></li>
											<li><a class='menu_3'>Confiture, miel et pâte à tartiner</a></li>
										</ul>
									</li>
									<li><a href='zzz' class='menu_2 menu_a voir_tout'>Epicerie salée</a>
										<ul class='sousMenu subMenu2 sousMenuMob'>
											<li><a class='menu_3'>Fruits secs</a></li>
											<li><a class='menu_3'>Epices et aromates ...</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class='affnav'><a class='menu_1 menu_a' href="fff">Fonctionnement</a></li>
							<li class='affnav'><a class='menu_1 menu_a'>La boutique</a>
								<ul class='sousMenu subMenuP sousMenuMob'>
									<li><a class='menu_3 menu_a' href="yyy">L'équipe ddddd frerferg fref freggh</a></li>
									<li><a class='menu_3 menu_a' href="yyy">Accès</a></li>
								</ul>
							</li>
							<li class='affnav'>
								<a class='menu_1 menu_a'>Contact</a>
							</li>
						</ul>

						<!--<div class="reseaux_sociaux">
	      <a href="#" title="lien facebook"><img src="{% static "pages/images/icon_fb.png" %}" alt="icone facebook"></a>
	      <a href="#" title="lien insta"><img src="{% static "pages/images/icon_insta.png" %}" alt="icone instagram"></a>
	      <a href="#" title="lien twitter"><img src="{% static "pages/images/icon_twitter.png" %}" alt="icone twitter"></a>
	      </div>-->
					</div>
				</div>
			</div>

			<section class="bloc_principaux corps_page">

				{% block content %}{% endblock %}

			</section>

			<div id="scrollUp">
				<a href="#"><img src="{% static "pages/images/to_top_v.png" %}" alt="Scroll up"></a>				
			</div>

			<footer>
				<div class="corps_footer bloc_principaux">
					<div class="bloc_bas_page">
						<h2>Bokalia</h2>
						<p>Adresse ...</p>
					</div>

					<div class="bloc_bas_page">
						<h2>Liens utiles</h2>

						<div class="liste_bas">
							<ul>
								<li><a>Conditions Générales de vente</a></li>
								<li><a>Mentions Légales</a></li>
							</ul>
						</div>
					</div>

					<div class="bloc_bas_page">
						<h2>Retrouvez nous</h2>

						<div class="reseaux_sociaux">
							<a title="lien facebook"><img src="{% static "pages/images/icon_fb.png" %}" alt="icone facebook"></a>
							<a title="lien Insta"><img src="{% static "pages/images/icon_insta.png" %}" alt="icone instagram"></a>
							<a title="lien twitter"><img src="{% static "pages/images/icon_twitter.png" %}" alt="icone twitter"></a>
						</div>
					</div>
				</div>
			</footer>
		</div>

		{% block extra_js %}{% endblock %}
		<!--<script type="text/javascript" src="{% static 'pages/js/base.js' %}"></script>-->
	</body>
</html>
