@media (max-width: 900px)
{
    .fTrier
	{
		display: none;
		position:fixed;
		top:0;
		left: -1000px;
		z-index: 9999;
		height: 100%;
		Width: 100%;
		flex-shrink: 1;
		transition: all 0.5s ease-in;
	}
}

.tesss
{
position: relative;
}


@media (min-width: 901px)
{
    .allcontusers
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }

	.notMin
	{
		display: none;
	}

	.fTrier
	{

	}

	.contenuP
	{
		width: 70%;
		max-width: 50rem;
	}

	/*Configuration de la partie filtres */

	.partRayon, .partTrier
	{
	}

	.corpsTr
	{
		background: #FFF;
		margin-top: 2rem;
		/*border-top: 3px solid #5bc7ab;
		box-shadow: 5px 4px 3px -2px #D8D8D8;
		border-radius: 5px;*/
	}

    .profselect, .profnorm
    {
    display: block;
    padding: 1rem 2rem 1rem 0.5rem;
    cursor: pointer;
    }

    .profselect{
    background-color: rgba(92, 103, 115, 1);
    color: white;
    border-radius: 0.5rem;
    }

    .profnorm:hover
    {
    color: #5bc7ab;
    }
}

.titcompte
{
/*border: 1px solid blue;*/
margin: 0.5rem;
}

.titcompte h3
{
font-size: 1.4rem;
color: #9098A9;
text-align: left;
border-bottom: 2px solid #5bc7ab;
margin: 0;
}

.contentcre
{
/*border: 1px solid red;*/
padding: 1rem;
/*background: #fafafa;*/
width: 100%;
max-width: 40rem;
margin: 0rem auto;
}

.formcrea
{
margin-top: 1rem;
}

.inpcomplet
{
width: 90%;
max-width: 50rem;
margin: auto auto 1rem;
}

.inplog{
width: 100%;
position: relative;
/*padding-top: 2.5rem;*/
margin: 0.2rem 0;
}

.inptext{
width: 100%;
border: 1px solid #ccc;
padding: 0.6rem 1rem;
transition: 0.4s;
}

.focus-border:before, .focus-border:after
{content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #5bc7ab; transition: 0.4s;}

.focus-border:after
{top: auto; bottom: 0;}

.inptext ~ i:before, .inptext ~ i:after
{content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #5bc7ab; transition: 0.6s;}

.inptext ~ i:after
{left: auto; right: 0;}

.inptext:focus ~ .focus-border:before, .inptext:focus ~ .focus-border:after
{left: 0; width: 100%; transition: 0.4s;}

.inptext:focus ~ i:before, .inptext:focus ~ i:after
{top: 0; height: 100%; transition: 0.6s;}

.inplabel
 {
    /*position: absolute;
    top: -1.5rem;
    left: 0;*/
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    padding: 0.5rem;
}

.helptext
{
margin: 0;
padding: 0.5rem;
}

/*.inptext:not(:placeholder-shown)
{
border: 1px solid #5bc7ab;
}*/

.inplog ~ p{
margin: 0;
color: #9098A9;
font-size: 0.9rem;
}

.subcrea input
{
	display: block;
	background-color: #5bc7ab;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 0.3rem;
	height: 2.5rem;
	width: 14rem;
	border: none;
	cursor: pointer;
	margin: 1.5rem auto 0.5rem;
}

.subcrea input:hover
{
	opacity: 0.8;
}

.inplogcheck {
    vertical-align: middle;
    text-align: left;
    margin: 1rem auto 0;
    width: 90%;
    max-width: 50rem;
  }

.inplabelcheck {
    display: inline-block;
    color: #9098A9;
    cursor: pointer;
    position: relative;
    }

.inplabelcheck > span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 1.6rem;
      height: 1.6rem;
      transform-origin: center;
      border: 2px solid #d2d4d8;
      border-radius: 50%;
      vertical-align: -0.5rem;
      margin-left: 1.5rem;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
      }

.inplabelcheck > span:before {
      content: "";
      width: 0rem;
      height: 2px;
      border-radius: 2px;
      background: #9098A9;
      position: absolute;
      transform: rotate(45deg);
      top: 0.6rem;
      left: 0.4rem;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

.inplabelcheck > span:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: #9098A9;
      position: absolute;
      transform: rotate(305deg);
      top: 0.95rem;
      left: 0.5rem;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }

.errorlist
{
color: red;
}

@media screen and (pointer: fine)
{

.inplabelcheck:hover > span:before {
        width: 0.35rem;
        transition: width 0.1s ease;
      }

.inplabelcheck:hover > span:after {
        width: 0.7rem;
        transition: width 0.15s ease 0.1s;
      }

#id_newsletter:checked + .inplabelcheck:hover > span {
          background-color: #5bc7ab;
          border: 2px solid #d2d4d8;
          transform: scale(1.25);
          }

#id_newsletter:checked + .inplabelcheck:hover > span:after {
            width: 0.7rem;
            background: #FFF;
            transition: width 150ms ease 100ms;
          }

#id_newsletter:checked + .inplabelcheck:hover > span:before {
            width: 0.35rem;
            background: #FFF;
            transition: width 150ms ease 100ms;
          }
}

#id_newsletter {
    display: none;
    }

#id_newsletter:checked + .inplabelcheck > span {
        background-color: #FFF;
        border-width: 2px;
        border-color: #5bc7ab;
        transform: scale(1.25);
        }

#id_newsletter:checked + .inplabelcheck > span:after {
          width: 0.7rem;
          background: #5bc7ab;
          transition: width 150ms ease 100ms;
        }

#id_newsletter:checked + .inplabelcheck > span:before {
          width: 0.35rem;
          background: #5bc7ab;
          transition: width 150ms ease 100ms;
        }

.chmdp, .supprcmt
{
position: relative;
cursor: pointer;
}

.supprcmt
{
margin-bottom: 2rem;
}

.arrowTrier:before
{
	content:'';
	position: absolute;
	right: 10px;
	bottom: 0.5rem;
	width: 8px;
	height: 8px;
	border-top: 2px solid grey;
	border-right: 2px solid grey;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background: transparent;
}

.arrowTarget:before
{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.affsupprcmt
{
justify-self: center;
}

.btnSupprCompte
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(92, 103, 115, 1);
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 0.3rem;
	height: 2.5rem;
	width: 80%;
	min-width: 26rem;
	border: none;
	cursor: pointer;
	margin: 0rem auto 0.5rem;
}