{% extends 'pages/base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}{{ produit.nom }} - Bokalia{% endblock %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'boutique/css/produit_solo.css' %}" />{% endblock %}

{% block content %}

<div class="body_edition">

    <section class="titre_img_achat">

        <div class="titre_produit">
            <div class="titre_et_produ">
                <h1>{{ produit.nom }}</h1>
                <em>de {{ produit.producteur }}</em>
            </div>
            <div class="prix_produit" info_type_prix="{{ produit.type_prix }}" info_prix_produit="{{ produit.prix_p|floatformat:-2 }}">
                {{ produit.prix_p|floatformat:-2 }} €/{{ produit.type_prix }}
            </div>
        </div>

        <div class="img_produit">
            <img src="{{ produit.image_p.url }}" class="image_produit"/>
        </div>

        <form class="form_achat_produit" action="" method="get"><!-- <form class="form_achat_produit" action="" method="get" enctype="multipart/form-data"> -->
            <div class="consigne_kraft">
                <ul class="ul_c_k">
                    <li class="li_cons">Bocaux consignés</li>
                    <li class="li_kraft">Sachet kraft</li>
                </ul>
            </div>
            <div class="zone_choix">
                <div class="zone_consigne">
                    {% for p_u in prix_u %}
                    <div class="consigne_{{forloop.counter}} consigne_column" id_consigne="{{ p_u.id }}">
                        <img class="img_consigne{{forloop.counter}} consigne_image" src="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_vide.png" data_vide="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_vide.png" data_plein="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_plein.png">
                        <p class="qte_consigne {% if forloop.last %}qte_max{% endif %}" data_qte_c="{{ p_u.quantite }}" {% if forloop.last %}data_qte_max="{{ p_u.quantite }}"{% endif %}>
                            {{ p_u.quantite }} {{ p_u.unite }}
                        </p>
                        <p class="prix_consigne">
                            <span></span> €
                        </p>
                    </div>
                    {% endfor %}
                    <a class="icone_info">
                    <svg class="img_info" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve">
                        <path fill="#5bc7ab" d="M496.158,248.085c0-137.022-111.069-248.082-248.075-248.082C111.07,0.003,0,111.063,0,248.085
                            c0,137.001,111.07,248.07,248.083,248.07C385.089,496.155,496.158,385.086,496.158,248.085z" />
                        <g>
                            <path fill="#FFFFFF" d="M315.249,359.555c-1.387-2.032-4.048-2.755-6.27-1.702c-24.582,11.637-52.482,23.94-57.958,25.015
                                c-0.138-0.123-0.357-0.348-0.644-0.737c-0.742-1.005-1.103-2.318-1.103-4.015c0-13.905,10.495-56.205,31.192-125.719
                                c17.451-58.406,19.469-70.499,19.469-74.514c0-6.198-2.373-11.435-6.865-15.146c-4.267-3.519-10.229-5.302-17.719-5.302
                                c-12.459,0-26.899,4.73-44.146,14.461c-16.713,9.433-35.352,25.41-55.396,47.487c-1.569,1.729-1.733,4.314-0.395,6.228
                                c1.34,1.915,3.825,2.644,5.986,1.764c7.037-2.872,42.402-17.359,47.557-20.597c4.221-2.646,7.875-3.989,10.861-3.989
                                c0.107,0,0.199,0.004,0.276,0.01c0.036,0.198,0.07,0.5,0.07,0.933c0,3.047-0.627,6.654-1.856,10.703
                                c-30.136,97.641-44.785,157.498-44.785,182.994c0,8.998,2.501,16.242,7.432,21.528c5.025,5.393,11.803,8.127,20.146,8.127
                                c8.891,0,19.712-3.714,33.08-11.354c12.936-7.392,32.68-23.653,60.363-49.717C316.337,364.326,316.636,361.587,315.249,359.555z" />
                            <path fill="#FFFFFF" d="M314.282,76.672c-4.925-5.041-11.227-7.597-18.729-7.597c-9.34,0-17.475,3.691-24.176,10.971
                                c-6.594,7.16-9.938,15.946-9.938,26.113c0,8.033,2.463,14.69,7.32,19.785c4.922,5.172,11.139,7.794,18.476,7.794
                                c8.958,0,17.049-3.898,24.047-11.586c6.876-7.553,10.363-16.433,10.363-26.393C321.646,88.105,319.169,81.684,314.282,76.672z" />
                        </g>
                    </svg>
                </a>
                </div>
                <div class="zone_kraft">
                    <p>
                        Supplément emballage kraft :<br><br>
                        <span>+ 0,10 €</span>
                    </p>
                </div>
            </div>

            {% comment %}
            <div class="consigne_forme consigne">
                <table class="consigne_table">
                    <tr>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" data-img="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal S" id="img_s" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal M" id="img_m" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal L" id="img_l" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal XL" id="img_xl" /></th>
                    </tr>
                    <tr>
                        <td><span id="val_s_max">260</span>g</td>
                        <td><span id="val_m_max">520</span>g</td>
                        <td><span id="val_l_max">780</span>g</td>
                        <td><span id="val_xl_max">1040</span>g</td>
                    </tr>
                    <tr>
                        <td>0,63 €</td>
                        <td>1,26 €</td>
                        <td>1,89 €</td>
                        <td>2,52 €</td>
                    </tr>
                </table>

                <div class="zone_kraft">
                    <p>
                        Supplément emballage kraft :<br><br>
                        <span>+ 0,10 €</span>
                    </p>
                </div>
            </div>
            {% endcomment %}
            <div class="qte_precis">
                <label>Quantité précise: </label>
                <input type="number" name="qte_commande" id="qte_input" step="10" min="0" placeholder="0"> <!-- Valeur max à mettre à jour via la BDD !! -->
                <span>g</span>
                <div id="error_qte">Entrez une quantité valide !</div>
            </div>
            <div class="total_prix">
                <div class="total_euro">
                    <div>
                        TOTAL :
                        <span id="prix_cal">0.00</span>
                        <span>€</span>
                    </div>
                    <div class="emballage_div" hidden>
                        Emballage : <span>+</span>
                        <span id="affiche_prix_emballage" class="prix_emballage" data_emballage="sans"></span>
                            {% for i in emb_tout %}
                                <span class="prix_emballage" data_emballage="{{ i.nom }}" hidden>{{ i.prix }}</span>
                            {% endfor %}
                        <span>€</span>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Ajouter au panier" id="ajout_panier" data_id="{{ produit.id }}" data_type_prix="{{ produit.prix_p|floatformat:-2 }} €/{{ produit.type_prix }}" data_nom="{{ produit.nom }}" data_url="{{ produit.id }}"/>
                </div>
            </div>
            <div class="bordure_bas"></div>
        </form>
    </section>
                   <!-- <div class="classArticlePanier">
                        <img src="{% static "boutique/images/leBocalTampon.png" %}">
                        <div class="panier_milieu">
                            <p class="panier_titre"><a href="v.url">v.nom</a><span> - v.prix€/v.typ_pri</span></p>
                            <p class="panier_sousTitre">Poids (g) : <span>v.val_qte</span></p>                        
                            <p class="panier_sousTitre">Consigne comprise : <span>v.info_prix_emballage</span></p>
                        </div>
                        <div class="panier_prixArticle">
                            <p>
                                <span>x</span> v.qt
                            </p>
                            <p>
                                v.prix_tot
                            </p>
                        </div>
                        
                    </div> -->

                    <!--<div class="classArticlePanier"><img src="{% static "boutique/images/leBocalTampon.png" %}"><div class="panier_milieu"><p class="panier_titre"><a href="v.url">v.nom</a><span> - v.prix€/v.typ_pri</span></p><p class="panier_sousTitre">Poids (g) : <span>v.val_qte</span></p><p class="panier_sousTitre">Consigne comprise : <span>v.info_prix_emballage</span></p></div><div class="panier_prixArticle"><p><span>x</span> v.qt</p><p>v.prix_tot</p></div></div>-->

    <section class="desc_sec">
        <div class="titre_desc_prod">
            <ul class="ul_c_k">
                <li id="li_desc">Description</li>
                <li id="li_prod">Producteur</li>
            </ul>
        </div>

        <div class="desc_dim">
        <article class="art_desc">
            <div class="dec_produit">
                <div class="desc_text">
                    <h3>Présentation</h3>
		    <p>
		    	{{ produit.description }}
		    </p>
                    <p>
                        <label>Producteur : </label><span>{{ produit.producteur }}</span>
                    </p>
                    <p>
                        <label>Origine : </label><span>{{ produit.origine}}</span>
                    </p>
                    <p>
                        <label>Ingrédient : </label><span>{{ produit.ingredient}}</span>
                    </p>
                    <p>
                        <label>Conservation : </label><span>{{ produit.conservation}}</span>
                    </p>
                    <p>
                        <label>Conseil de préparation : </label><span>{{ produit.conseil_prepa}}</span>
                    </p>
                </div>
                <table class="val_nutr">
                    <tr>
                        <th colspan="2">Valeurs nutritionnelles pour 100 g/ml</th>
                    </tr>

                    <tr>
                        <td class="table_col1">Energie en kJ</td>
                        <td class="table_col2">{{ produit.energie_kj}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Energie en kCal</td>
                        <td class="table_col2">{{ produit.energie_kcal}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Matières grasses (en g)</td>
                        <td class="table_col2">{{ produit.matiere_grasse|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">dont acides gras saturés (en g)</td>
                        <td class="table_col2">{{ produit.acide_gras_sat|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Glucide (en g)</td>
                        <td class="table_col2">{{ produit.glucide|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">dont sucres (en g)</td>
                        <td class="table_col2">{{ produit.sucres|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Fibres alimentaire (en g)</td>
                        <td class="table_col2">{{ produit.fibre_alim|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Protéines (en g)</td>
                        <td class="table_col2">{{ produit.proteine|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Sel (en g)</td>
                        <td class="table_col2">{{ produit.sel|floatformat:-2}}</td>
                    </tr>
                </table>
            </div>
        </article>

        <article class="art_prod">
            <div class="desc_producteur">
                <div class="img_prod">
                    <img src="{{ produit.producteur.image_prod.url }}">
                </div>
                <div class="prod_text">
                    <h2>{{ produit.producteur.nom }}</h2>
		    <p>
                        {{ produit.producteur.desc_prod }}
                    </p>
                    <p>
                        <label>Localisation : </label><span>{{ produit.producteur.ville }}, {{ produit.producteur.code_p }}</span>
                    </p>
                </div>
            </div>
        </article>
        </div>

    </section>

</div>

{% endblock %}
{% block extra_js %}<script type="text/javascript" src="{% static 'boutique/js/produit_solo.js' %}"></script>{% endblock %}
