{% extends 'pages/base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}{{ produit.nom }} - Bokalia{% endblock %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'boutique/css/produit_solo.css' %}" />{% endblock %}

{% block content %}

{% comment %}
<h1>{{ produit.nom }}</h1>

<div class="img_produit">
    <img src="{{ produit.image_p.url }}"/>
</div>

<div class="consigne_table">
    {% for p_u in prix_u %}
    <div>
        {{ p_u.emballage }}
        <div>
            <object class="test_img" data="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_vide.svg" height="100" width="100" type="image/svg+xml" data_modif="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_plein.svg">
				Le navigateur ne peut lire cette image SVG
			</object>
        </div>
    </div>
    {% endfor %}
</div>
{% endcomment %}

<div class="body_edition">

    <section class="titre_img_achat">

        <div class="titre_produit">
            <div class="titre_et_produ">
                <h1>{{ produit.nom }}</h1>
                <em>de {{ produit.producteur }}</em>
            </div>
            <div id="prix_produit" info_type_prix="{{ produit.type_prix }}" info_prix_produit="{{ produit.prix_p|floatformat:-2 }}">
                {{ produit.prix_p|floatformat:-2 }} €/{{ produit.type_prix }}
            </div>
        </div>

        <div class="img_produit">
            <img src="{{ produit.image_p.url }}" id="image_produit"/>
        </div>

        <form class="form_achat_produit" action="" method="get"><!-- <form class="form_achat_produit" action="" method="get" enctype="multipart/form-data"> -->
            <div class="consigne_kraft consigne">
                <ul class="ul_c_k">
                    <li id="li_cons">Bocaux consignés</li>
                    <li id="li_kraft">Sachet kraft</li>
                </ul>
            </div>
            <div class="zone_choix">
                <div class="zone_consigne">
                    {% for p_u in prix_u %}
                    <div class="consigne_{{forloop.counter}}">
                        <object class="img_consigne{{forloop.counter}}" data="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_vide.svg" type="image/svg+xml" data_modif="{{ STATIC_PREFIX }}/static/boutique/images/{{ p_u.emballage }}_plein.svg">
                            Le navigateur ne peut lire cette image SVG
                        </object>
                        <p class="qte_consigne">
                            {{ p_u.quantite }}
                        </p>
                        <p class="prix_consigne">
                            {{ p_u.quantite }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% comment %}
            <div class="consigne_forme consigne">
                <table class="consigne_table">
                    <tr>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" data-img="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal S" id="img_s" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal M" id="img_m" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal L" id="img_l" /></th>
                        <th><img src="{% static 'boutique/images/leBocalTampon.png' %}" alt="Logo Bocal XL" id="img_xl" /></th>
                    </tr>
                    <tr>
                        <td><span id="val_s_max">260</span>g</td>
                        <td><span id="val_m_max">520</span>g</td>
                        <td><span id="val_l_max">780</span>g</td>
                        <td><span id="val_xl_max">1040</span>g</td>
                    </tr>
                    <tr>
                        <td>0,63 €</td>
                        <td>1,26 €</td>
                        <td>1,89 €</td>
                        <td>2,52 €</td>
                    </tr>
                </table>

                <div class="zone_kraft">
                    <p>
                        Supplément emballage kraft :<br><br>
                        <span>+ 0,10 €</span>
                    </p>
                </div>
                <a id="icone_info">?</a>
            </div>
            {% endcomment %}
            <div class="qte_precis consigne">
                <label>Quantité :</label>
                <input type="number" name="qte_commande" id="qte_input" step="10" min="0" max="1050"> <!-- Valeur max à mettre à jour via la BDD !! -->
                <span>g</span>
                <span id="error_qte">Entrez une quantité valide !</span>
            </div>
            <div class="total_prix consigne">
                <div class="total_euro">
                    <div>
                        TOTAL :
                        <span id="prix_cal">0.00</span>
                        <span>€</span>
                    </div>
                    <div class="emballage_div" hidden>
                        Emballage : <span>+</span>
                        <span id="affiche_prix_emballage" class="prix_emballage" data_emballage="sans"></span>
                            {% for i in emb_tout %}
                                <span class="prix_emballage" data_emballage="{{ i.nom }}" hidden>{{ i.prix }}</span>
                            {% endfor %}
                        <span>€</span>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Ajouter au panier" id="ajout_panier" data_id="{{ produit.id }}" data_type_prix="{{ produit.prix_p|floatformat:-2 }} €/{{ produit.type_prix }}" data_nom="{{ produit.nom }}" data_url="{{ produit.id }}"/>
                </div>
            </div>
        </form>
    </section>
                   <!-- <div class="classArticlePanier">
                        <img src="{% static "boutique/images/leBocalTampon.png" %}">
                        <div class="panier_milieu">
                            <p class="panier_titre"><a href="v.url">v.nom</a><span> - v.prix€/v.typ_pri</span></p>
                            <p class="panier_sousTitre">Poids (g) : <span>v.val_qte</span></p>                        
                            <p class="panier_sousTitre">Consigne comprise : <span>v.info_prix_emballage</span></p>
                        </div>
                        <div class="panier_prixArticle">
                            <p>
                                <span>x</span> v.qt
                            </p>
                            <p>
                                v.prix_tot
                            </p>
                        </div>
                        
                    </div> -->

                    <!--<div class="classArticlePanier"><img src="{% static "boutique/images/leBocalTampon.png" %}"><div class="panier_milieu"><p class="panier_titre"><a href="v.url">v.nom</a><span> - v.prix€/v.typ_pri</span></p><p class="panier_sousTitre">Poids (g) : <span>v.val_qte</span></p><p class="panier_sousTitre">Consigne comprise : <span>v.info_prix_emballage</span></p></div><div class="panier_prixArticle"><p><span>x</span> v.qt</p><p>v.prix_tot</p></div></div>-->

                    
{% comment %}
    <section class="desc_sec">
        <div class="titre_desc_prod">
            <ul class="ul_c_k">
                <li id="li_desc">Description</li>
                <li id="li_prod">Producteur</li>
            </ul>
        </div>

        <div class="desc_dim">
        <article class="art_desc">
            <div class="dec_produit">
                <div class="desc_text">
                    <h3>Présentation</h3>
		    <p>
		    	{{ produit.description }}
		    </p>
                    <p>
                        <label>Producteur : </label><span>{{ produit.producteur }}</span>
                    </p>
                    <p>
                        <label>Origine : </label><span>{{ produit.origine}}</span>
                    </p>
                    <p>
                        <label>Ingrédient : </label><span>{{ produit.ingredient}}</span>
                    </p>
                    <p>
                        <label>Conservation : </label><span>{{ produit.conservation}}</span>
                    </p>
                    <p>
                        <label>Conseil de préparation : </label><span>{{ produit.conseil_prepa}}</span>
                    </p>
                </div>
                <table class="val_nutr">
                    <tr>
                        <th colspan="2">Valeurs nutritionnelles pour 100 g/ml</th>
                    </tr>

                    <tr>
                        <td class="table_col1">Energie en kJ</td>
                        <td class="table_col2">{{ produit.energie_kj}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Energie en kCal</td>
                        <td class="table_col2">{{ produit.energie_kcal}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Matières grasses (en g)</td>
                        <td class="table_col2">{{ produit.matiere_grasse|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">dont acides gras saturés (en g)</td>
                        <td class="table_col2">{{ produit.acide_gras_sat|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Glucide (en g)</td>
                        <td class="table_col2">{{ produit.glucide|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">dont sucres (en g)</td>
                        <td class="table_col2">{{ produit.sucres|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Fibres alimentaire (en g)</td>
                        <td class="table_col2">{{ produit.fibre_alim|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Protéines (en g)</td>
                        <td class="table_col2">{{ produit.proteine|floatformat:-2}}</td>
                    </tr>
                    <tr>
                        <td class="table_col1">Sel (en g)</td>
                        <td class="table_col2">{{ produit.sel|floatformat:-2}}</td>
                    </tr>
                </table>
            </div>
        </article>

        <article class="art_prod">
            <div class="desc_producteur">
                <div class="img_prod">
                    <img src="{{ produit.producteur.image_prod.url }}">
                </div>
                <div class="prod_text">
                    <h2>{{ produit.producteur.nom }}</h2>
		    <p>
                        {{ produit.producteur.desc_prod }}
                    </p>
                    <p>
                        <label>Localisation : </label><span>{{ produit.producteur.ville }}, {{ produit.producteur.code_p }}</span>
                    </p>
                </div>
            </div>
        </article>
        </div>

    </section>{% endcomment %}

</div>

{% endblock %}
{% block extra_js %}<script type="text/javascript" src="{% static 'boutique/js/produit_solo.js' %}"></script>{% endblock %}
