{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Login - Bokalia{% endblock %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}" />{% endblock %}

{% block content %}
<div class="titcompte">
    <h3>MON COMPTE</h3>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="contentlog">
    <form class="formlogin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="inplog">
            {{ form.username }}
            <span class="focus-border"></span>
            <i></i>
            <label for="{{ form.username.id_for_label }}" class="inplabel" >{{ form.username.label }}</label>
        </div>
        <div class="inplog">
            {{ form.password }}
            <span class="focus-border" ></span>
            <i></i>
            <label for="{{ form.password.id_for_label }}" class="inplabel" >{{ form.password.label }}</label>
        </div>

        <div class="sublog">
                <input type="submit" value="SE CONNECTER">
                <input type="hidden" name="next" value="{{ next }}">
                <a href="{% url 'password_reset' %}" class="areset">Mot de passe oublié ?</a>
        </div>
    </form>
    <div class="divcrea">
        <span>Pas encore de compte ?</span>
        <a class="acrea" href="{% url 'register' %}">CREER UN COMPTE</a>
    </div>
</div>

{% endblock %}
{% comment %}
{% block extra_js %}<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>{% endblock %}
{% endcomment %}