{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Reset mot de passe - Bokalia{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/password_reset.css' %}"
      xmlns="http://www.w3.org/1999/html"/>{% endblock %}

{% block content %}
<div class="titcompte">
    <h3>Réinitialisation du mot de passe</h3>
</div>

		{% if form.email.errors %}
		{{ form.email.errors }}
		{% endif %}

<div class="contentreset">
    <p>
        Vous avez oublié votre mot de passe ? Pas de panique ! Indiquez-nous votre adresse email et nous vous renverrons un nouveau mot de passe par email.
        </br>
        Pensez à regarder dans votre dossier Spam si vous ne voyez pas arriver notre email.
    </p>
	<form class="formreset" action="" method="post">
		{% csrf_token %}
		<div class="inplog">
            {{ form.email }}
            <span class="focus-border" ></span>
            <i></i>
            <label for="{{ form.email.id_for_label }}" class="inplabel" >E-MAIL</label>
        </div>

        <div class="sublog">
			<input type="submit" value="ENVOYER">
        </div>
	</form>
</div>
{% endblock %}
{% comment %}
{% block extra_js %}<script type="text/javascript" src="{% static 'pages/js/registeruser.js' %}"></script>{% endblock %}
{% endcomment %}