{% extends 'pages/base.html' %}

{% load static %}

{% block title %}formulaire changement mot de passe ok - Bokalia{% endblock %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/registeruser.css' %}" />{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block extra_js %}<script type="text/javascript" src="{% static 'pages/js/registeruser.js' %}"></script>{% endblock %}