{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Reset mot de passe - Bokalia{% endblock %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/registeruser.css' %}" />{% endblock %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
    {% if form.email.errors %}
	{{ form.email.errors }}
	{% endif %}
	<p>{{ form.email }}</p>
    <input type="submit" value="Reset password" />
</form>
{% endblock %}

{% block extra_js %}<script type="text/javascript" src="{% static 'pages/js/registeruser.js' %}"></script>{% endblock %}