{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Reset mot de passe - Bokalia{% endblock %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/password_reset.css' %}" />{% endblock %}

{% block content %}
<div class="titcompte">
    <h3>MON COMPTE</h3>
</div>

<div class="contentreset">
	<form action="" method="post">
		{% csrf_token %}
		{% if form.email.errors %}
		{{ form.email.errors }}
		{% endif %}
		<p>{{ form.email }}</p>
		<input type="submit" value="Reset password" />
	</form>
</div>
{% endblock %}

{% block extra_js %}<script type="text/javascript" src="{% static 'pages/js/registeruser.js' %}"></script>{% endblock %}