{% extends 'users/users_base.html' %}

{% load static %}

{% block users_content %}

    <div class="contentcre">
        <div class="titcompte">
            <h3>Vos informations personnelles</h3>
        </div>
        <form class="formcrea large_profile" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            {% if succes_info_form %}
            <p>Vos informations ont été mises à jour</p>
            {% endif %}
            {% for inform in form_myuser %}
            <div class="inpcomplet">
                <label for="{{ inform.id_for_label }}" class="inplabel" >{{ inform.label }} {% if inform.field.required %}*{% endif %}</label>
                <div class="inplog">
                {{ inform }}
                    <span class="focus-border"></span>
                    <i></i>
                </div>
                {% if inform.help_text %}
                <p class="helptext">({{ inform.help_text }})</p>
                {% endif %}
            </div>
            {{ inform.errors }}
            {% endfor %}
            {% for inform in form_customer %}
            {% if forloop.last is False %}
            <div class="inpcomplet">
                <label for="{{ inform.id_for_label }}" class="inplabel" >{{ inform.label }} {% if inform.field.required %}*{% endif %}</label>
                <div class="inplog">
                {{ inform }}
                    <span class="focus-border"></span>
                    <i></i>
                </div>
                {% if inform.help_text %}
                <p class="helptext">({{ inform.help_text }})</p>
                {% endif %}
            </div>
            {% else %}
            <div class="inplogcheck">
                {{ inform }}
                <label for="{{ inform.id_for_label }}" class="inplabelcheck" >
                    {{ inform.label }}
                    <span></span>
                </label>
            </div>
            {% endif %}
            {{ inform.errors }}
            {% endfor %}
            <div class="subcrea">
                <input type="submit" value="MODIFIER">
            </div>
        </form>
    </div>

    <div class="contentcre">
        <div class="titcompte chmdp">
            <h3 class="arrowTrier{% if not cacher_hid %} arrowTarget{% endif %}">Changer le mot de passe</h3>
        </div>
        <form class="formcrea chmdpform large_profile" method="post" action="{% url 'my_password_change' %}"{% if cacher_hid %} hidden{% endif %}>
            {% csrf_token %}
            {% for inform in form_mdp %}
            <div class="inpcomplet">
                <label for="{{ inform.id_for_label }}" class="inplabel" >{{ inform.label }} {% if inform.field.required %}*{% endif %}</label>
                <div class="inplog">
                {{ inform }}
                    <span class="focus-border"></span>
                    <i></i>
                </div>
                {% if inform.help_text %}
                <p class="helptext">{{ inform.help_text }}</p>
                {% endif %}
            </div>
            {{ inform.errors }}
            {% endfor %}
            <div class="subcrea">
                <input type="submit" value="MODIFIER">
            </div>
        </form>
    </div>

    <div class="contentcre">
        <div class="titcompte supprcmt">
            <h3 class="arrowTrier">Supprimer mon compte</h3>
        </div>
        <div class="affsupprcmt large_profile" hidden>
            <a class="btnSupprCompte" href="{% url 'delete_confirmation' %}">SUPPRIMER MON COMPTE</a>
        </div>
    </div>

{% endblock %}