{% extends 'pages/base.html' %}

{% load static %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/style_accueil.css' %}" />{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>User: {{ user.email }} logged in.</p>

<p>{{ user.first_name }}</p>

<div class="infopers">
	<p>
		<form method="post">
		{% csrf_token %}
		{{ form_info.as_p }}

		<input type="submit" value="Submit"/>
	</form>
	</p>
</div>

<div class="respass">
	<p>
		<form method="post">
		{% csrf_token %}
		{{ form_mdp.as_p }}

		<input type="submit" value="Submit"/>
	</form>
	</p>
</div>

<p><a href="{% url 'welcome' %}">homepage</a></p>
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<a href="{% url 'login' %}">login</a> |
<a href="{% url 'register' %}">signup</a>
{% endif %}

{% endblock %}