{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Sign up - Bokalia{% endblock %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'users/css/registeruser.css' %}" />{% endblock %}

{% block content %}
<div class="titcompte">
    <h3>CRÉATION D'UN COMPTE</h3>
</div>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}<span>*</span>
  <input type="submit" value="S'INSCRIRE">
</form>

{% endblock %}
{% comment %}
{% block extra_js %}<script type="text/javascript" src="{% static 'pages/js/registeruser.js' %}"></script>{% endblock %}
{% endcomment %}