{% extends 'pages/base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/users_base.css' %}"/>
{% endblock %}

{% block content %}
<div class="allcontusers">
    {% include 'users/side_profile.html' %}

    <div class='contenuP'>
        {% block users_content %}
        {% endblock users_content %}
    </div>
</div>

{% endblock content %}

{% block extra_js %}<script type="text/javascript" src="{% static 'users/js/users_base.js' %}"></script>{% endblock %}