{% load staticfiles %}
<!DOCTYPE html>

<html lang="fr">
    <head>
		<! -- En-tête de la page et de l'onglet -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Sarabun|Thasadith" rel="stylesheet">
		<script type="text/javascript" src="{% static 'pages/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'pages/js/base_fonctions.js' %}"></script>
		<script type="text/javascript" src="{% static 'pages/js/base.js' %}"></script>
		{% block extra_head %}{% endblock %}
        <title>{% block title %}Bokalia - Drive Vrac & Bio{% endblock %}</title>
    </head>

    <body>

    	<div class="body_b">
			<header>
				<nav class="nav_mobile_header">
					<div class="nav_mobile_contenant">								
						<span class="barre_menu"></span>
						<span class="barre_menu"></span>
						<span class="barre_menu"></span>
						<span class="barre_menu_f">Menu</span>
					</div>
					
					<div class="nav_mobile_logo">
						<img src="{% static "pages/images/logo_bokalia.png" %}" alt="Logo Bokalia" id="logo_bokalia_mini" />
					</div>

					<div class="nav_mobile_login" class="nav_mobile_li">
						<a href="#" id="connexion_mobile"><img src="{% static "pages/images/icon_login.png" %}" alt="Logo du LogIn" /></a>
					</div >

					<div class="nav_mobile_panier" >
						<a id="panier_mobile">
							<img src="{% static "pages/images/icon_panier.png" %}" alt="Logo du panier"/>
							<span id="nbr_article_dans_panier_mobile">0</span>
							</a>
						</div>
				</nav>
				<div class="menu_haut">
					<div class="logo_search">
						<div class="titre_principal">
							<div id="logo_bokalia">
								<img src="{% static "pages/images/logo_bokalia.png" %}" alt="Logo Bokalia" id="logo_bokalia_mini" />
							</div>
						</div>			
						<form class="search_form" action="#" method="POST" autocomplete="off">
							{% csrf_token %}
							<input id="search_text" type="text" size="30" placeholder="Lait, œuf, farine…"/>
							<input id="submit_img" type="image" name="search_submit" src="{% static "pages/images/icon_search.png" %}" alt="icone rechercher">
						</form>
					</div>

					<div class="login_basket">
						<div id="login">
							<!--<img src="{% static "pages/images/icon_login.png" %}" alt="Logo du LogIn" />-->
							<a href="#" id="connexion">Me connecter</a>
						</div>
						<div id="basket">
							<a id="panier">
								<img src="{% static "pages/images/icon_panier.png" %}" alt="Logo du panier"/>
								<span id="nbr_article_dans_panier">0</span>
							</a>
							<div id="panier_reduit">
								<ul id="ajout_dans_panier">
									<li id="panier_vide_msg"><a>Votre panier est vide</a></li>
								</ul>
									
								<div>
									<a href="" id="voir_panier">Voir le panier</a> <!-- Ajouter href="/panier/" une fois fini-->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="bandeau_fond">
					<div class="bandeau_menu">
						<nav id="navigation">
							<ul>
								<li><a href="#">Nos produits </a></li>
								<li><a href="#">Fonctionnement</a></li>
								<li><a href="#">La boutique</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>

						<!--<div class="reseaux_sociaux">
							<a href="#" title="lien facebook"><img src="{% static "pages/images/icon_fb.png" %}" alt="icone facebook"></a>
							<a href="#" title="lien insta"><img src="{% static "pages/images/icon_insta.png" %}" alt="icone instagram"></a>
							<a href="#" title="lien twitter"><img src="{% static "pages/images/icon_twitter.png" %}" alt="icone twitter"></a>
						</div>-->
					</div>
				</div>
			</header>

			{% block content %}{% endblock %}

			<div id="scrollUp">
				<a href="#"><img src="{% static "pages/images/to_top_v.png" %}" alt="Scroll up"></a>				
			</div>

			<footer>
				<div id="corps_footer">
					<div class="bloc_bas_page">
						<h2>Bokalia</h2>
						<p>Adresse ...</p>
					</div>

					<div class="bloc_bas_page">
						<h2>Liens utiles</h2>

						<div id="liste_bas">
							<ul id="liens_bas">
								<li><a href="#">Conditions Générales de vente</a></li>
								<li><a href="#">Politique de Protection des Données Personnelles</a></li>
								<li><a href="#">Mentions Légales</a></li>
							</ul>
						</div>
					</div>

					<div class="bloc_bas_page">
						<h2>Retrouvez nous</h2>

						<div class="reseaux_sociaux">
							<a href="#" title="lien facebook"><img src="{% static "pages/images/icon_fb.png" %}" alt="icone facebook"></a>
							<a href="#" title="lien Insta"><img src="{% static "pages/images/icon_insta.png" %}" alt="icone instagram"></a>
							<a href="#" title="lien twitter"><img src="{% static "pages/images/icon_twitter.png" %}" alt="icone twitter"></a>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!--<script type="text/javascript" src="{% static 'pages/js/base.js' %}"></script>-->
	</body>
</html>