
.zone_consigne
{
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: center;
margin: auto;
background: #FFF;
border: 1px solid blue;
}

.consigne_1
{
border: 1px solid green;
}

.img_consigne1
{
cursor: pointer;
height: 5rem;
width: 5rem;
border: 1px solid red;
}

.img_consigne2
{
cursor: pointer;
height: 6rem;
width: 6rem;
border: 1px solid red;
}

.img_consigne3
{
cursor: pointer;
height: 7rem;
width: 7rem;
}

.img_consigne4
{
cursor: pointer;
height: 8rem;
width: 8rem;
}

.test_para
{
border: 1px solid red;
}

@media all and (max-width: 900px)
{
	.body_edition
	{
		width: 100%;
		margin: auto;
		padding-top: 1rem;
		padding-bottom: 1.5rem;
	}

	.titre_img_achat
	{
		margin: 0;
	}

	.titre_produit
	{
		justify-content: space-between;
		width: 100%;
		padding: 0px 5% 15px;
	}

	/*.img_produit
	{
		border: 1px solid red;
	}*/

	#image_produit
	{
		width: 60vw;
		max-width: 500px;
	}

	.form_achat_produit
	{
		background-color: #f8f8f8;
		justify-content: center;
	}

	.consigne
	{
		background-color: #FFFFFF;
	}

	.consigne + .consigne
	{
		margin-top: 10px;
	}

	.consigne_forme
	{
		padding: 1rem 0;
		position: relative;
		width: 85vw;
		max-width: 550px;
		margin: auto;
		min-height: 12rem;
	}

	.qte_precis
	{
		width: 85vw;
		max-width: 550px;
		margin: auto;
		padding: 0.5rem;
	}

	.total_prix
	{
		justify-content: space-around;
	}

}

/*@media all and (max-width: 450px)
{
	.img_produit img
	{
		width: 40vw;
	}
}

@media all and (min-width: 451px) and (max-width: 900px)
{
	.img_produit img
	{
		width: 40vw;
	}
}*/

@media all and (min-width: 901px)/* and (max-width: 1250px)*/
{
	.body_edition
	{
		width: 100%;
		margin: auto;
	}

	.titre_img_achat
	{
		padding-top: 2.5rem;
		/*border:1px solid yellow;*/
		display: flex;
		justify-content: space-around;
		position: relative;
		flex-wrap: wrap;
	}

	.titre_produit
	{
		/*border:1px solid red;*/
		padding-left: 45%;
		width: 100%;
		/*position: absolute;
		right: 0;*/
		justify-content: space-between;
	}

	/*.titre_et_produ
	{
		min-width: 400px;
	}*/

	.img_produit
	{
		
	}

	#image_produit
	{
		width: 28vw;
		max-width: 500px;
		/*border:1px solid green;*/
		vertical-align: middle;
	}

	.form_achat_produit
	{
		width: 35vw;
		min-width: 400px;
		max-width: 625px;
		/*border:1px solid blue;*/
	}

	.consigne_forme /* fond de la partie cousigne ou kraft */ /* à modifier */
	{
		padding: 1rem 0;
		background-color: #f8f8f8;
		position: relative;
		width: 90%;
		min-height: 15rem;
		margin: 5% auto 0;
	}

	.qte_precis
	{
		background-color: #f8f8f8;
		width: 90%;
		margin: 1rem auto 0.5rem;
		padding: 0.5rem;
		height: 3rem;
	}

	.total_prix
	{
		justify-content: space-between;
	}
}

/* Section de la page */

.body_edition
{
		
}

/* Mise en place 1. Titre 2. Image du produit 3. Achat: (Consigne ou Kraft) */

/*.titre_img_achat
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}*/

/* Partie Titre avec désignation et le prix au kg/U/l */

.titre_produit
{
	display: flex;
}

	/* Désignation du produit */

h1
{
	font-size: 1.6rem;
	font-style: normal;
	font-weight: bold;
	margin: 0;
}

	/* Prix au kg/l/U */

#prix_produit
{
	font-size: 1.1rem;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
	color: grey;
	position: relative;
	min-width: 5rem;
	text-align: center;
}

#prix_produit::after
{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 1rem;
	height: 6px;
	background-color: #5bc7ab;
	opacity: 0.5;
	z-index: -1;
}

/* Image du produit */

.img_produit
{
	text-align: center;
}

/* Achat: consigne ou kraft et choix de la quantité avec l'ajout panier */

.form_achat_produit
{
	border-bottom: 0.1rem solid #5bc7ab;
	padding-bottom: 5px;
}

	/* Menu choix consigne ou kraft */

.consigne_kraft
{
	padding-top: 1.2rem;
	position: relative;
}

.ul_c_k
{
	list-style-type: none;
	display: flex;
	justify-content: center;
	height: 2.5rem;
	width: 100%;
	padding-left: 0;
	font-size: 1.1rem;
}

.ul_c_k li
{
	width: 25%;
	min-width: 10rem;
	text-align: center;
	padding-top: 0.8%;
	cursor: pointer;
	margin: 0 1rem;
}

#li_cons
{
	border-bottom: 0.2rem solid #5bc7ab;
	font-weight: bold;
}

#li_kraft
{
	opacity: 0.6;
	font-weight: bold;
	border-bottom: 0rem solid #5bc7ab;
}

#li_kraft:hover
{
	opacity: 1;
}

/*.consigne_forme*/ /* fond de la partie cousigne ou kraft */
/*{
	padding: 1rem 0;
	background-color: #f8f8f8;
	position: relative;
}*/

/* Partie consigne */

.consigne_table
{
	text-align: center;
	border-collapse: collapse;
	margin: auto;
	width: 90%;
	/*display: none;  A supprimer pour faire apparaitre la consigne */
}

.consigne_table th
{
	vertical-align: bottom;
	padding: 1rem;
	width: 25%;
}

#img_s /* Taille des images bocal */
{
	width: 50%;
	cursor: pointer;
}

#img_m
{
	width: 60%;
	cursor: pointer;
}

#img_l
{
	width: 70%;
	cursor: pointer;
}

#img_xl
{
	width: 90%;
	cursor: pointer;
}

/* Partie Kraft */

.zone_kraft
{
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	display: none;
}

.zone_kraft span
{
	color: #5bc7ab;
}

/* Bouton info */

#icone_info
{
	position: absolute;
	display: block;
	font-size: 1.5rem;
	background-color: grey;
	border: 0;
	color: #FFFFFF;
	width: 2rem;
	height: 2rem;
	text-align: center;
	border-radius: 20%;
	font-weight: bold;
	line-height: 1.8rem;
	cursor: pointer;
	top: 0.2rem;
	right: 0;
}

#icone_info:hover
{
	opacity: 0.8;
}

/* Partie Quantité choisie et ajout au panier */

.qte_precis
{
	font-size: 1.2rem;
	/*border:1px solid red;*/
}

.qte_precis input
{
	width: 6rem;
	font-size: 1rem;
}

#error_qte
{
	margin-left: 1.5rem;
	color: red;
	display: none;
}

.total_prix
{
	display: flex;
	font-size: 1.5rem;
	color: grey;
	min-height: 4.5rem;
	margin-top: 1.5rem;
}

.total_euro
{
	padding-top: 0.5rem;
}

.total_prix span
{
	color: #5bc7ab;
}

.total_prix input
{
	background-color: #5bc7ab;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 0.3rem;
	height: 2.5rem;
	width: 12rem;
	border: none;
	cursor: pointer;
	margin-top: 0.5rem;
}

.total_prix input:hover
{
	opacity: 0.8;
}

	/* Afficher / cacher le prix de l'emballage + adapter l'écriture */

.emballage_div
{
	font-weight: normal;
	font-size: 0.95rem;
	padding-top: 0.2rem;
}

/* Section description produit et producteur */
/* Menu produit ou producteur */

.desc_sec
{
	margin-bottom: 1.2rem;
	margin-top: 3rem;
}

		/* Voir .ul_c_k */

#li_desc
{
	border-bottom: 0.2rem solid #5bc7ab;
	font-weight: bold;
}

#li_prod
{
	opacity: 0.6;
	font-weight: bold;
	border-bottom: 0rem solid #5bc7ab;
}

#li_prod:hover
{
	opacity: 1;
}

/* Hauteur minimale de la zone description produit et producteur */

.desc_dim
{
	min-height: 30rem;
}

/* Description du produit, 2 parties : Texte et valeurs nutri */

.art_desc
{
	/* affichage de l'article description produit */
}

/* Partie texte */

.dec_produit
{
	background-color: #f8f8f8;
	border: 2px solid transparent;
	padding: 0px 10px;
	justify-content: center;
}

.desc_text
{
	font-size: 1rem;
	margin: 10px 20px;
}

.desc_text h3
{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	color: #262624;
	opacity: 0.9;
}

.desc_text label
{
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	color: #262624;
	opacity: 0.9;
}

/* Partie table valeurs nutritionnelles */

.val_nutr
{
	margin: auto;
	border-collapse: collapse;
	min-width: 270px;
}

.val_nutr th
{
	background-color: #5bc7ab;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #5bc7ab;
	padding: 4px 15px;
	font-size: 0.95em;
}

.val_nutr td
{
	border: 1px solid #5bc7ab;
	padding: 3px 10px;
	font-size: 0.9em;
}

.table_col1
{
	text-align: left;
}

.table_col2
{
	text-align: left;
}

/* Article Producteur*/

.art_prod
{
	display: none; /* Cache article description du producteur */
}

.desc_producteur
{
	background-color: #f8f8f8;
	border: 2px solid transparent;
	padding: 0px 10px;
	display: flex;
}

.img_prod
{
	padding: 10px 20px;
}

.img_prod img
{
	max-height: 12rem;
	max-width: 12rem;
}

.prod_text
{
	padding: 0px 10px;
}

/* */
