{% load static %}
<div class="{{ classfitri }}ensCheckbox {{ classTrier }}">
	<div data-tr="1" class="{{ classfitri }}checkboxFi {{ classfitri }}fitri pertinence">Pertinence</div>
	<div data-tr="2" class="{{ classfitri }}checkboxFi {{ classfitri }}fitri">Prix croissant</div>
	<div data-tr="3" class="{{ classfitri }}checkboxFi {{ classfitri }}fitri">Prix décroissant</div>
	<div data-tr="4" class="{{ classfitri }}checkboxFi {{ classfitri }}fitri">Producteur A à Z</div>
	<div data-tr="5" class="{{ classfitri }}checkboxFi {{ classfitri }}fitri">Producteur Z à A</div>
</div>
