
/* Ex de couleur:
#57cfb0
#abd0bf
#5bc7ab ?1
#00b68c ?2

#6dbf81 avant
*/

/* Corps de la page */

.body_b
{
	position: absolute;
	left: 0;
	right: 0;
	font-family: 'Sarabun','Thasadith', sans-serif;
	color: grey;
	font-size: 16px;
}

@media all and (max-width: 924px)
{
	body
	{
		width: auto;
	}

	header
	{
		width: auto;
	}

	.menu_haut #search_text
	{
		width: auto;
	}

	footer .bandeau_menu .bandeau_fond #corps_footer
	{
		width: auto;
	}
}

/* En-tête de la page base */

header
{
	margin-top: 2px;
	margin-bottom: 2px;
}

/* Partie 1/2 horizontale: Recherche + login et panier */

.menu_haut
{
	width: 1000px;
	height: 50px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/* Logo et barre de recherche */

.logo_search
{
	display: flex;
	align-items: flex-end;
}

/* logo */

#logo_bokalia_mini
{
	max-height: 40px;
}

/* Barre de recherche */

.rechercher
{
	background-color: white;
	margin: auto;
	/*border:2px solid red;*/
	height: 100%;
	margin-left: 10px;
}

.search_form
{
	display: flex;
	align-items: center;
	height: 100%;
	border: 2px solid #d6d4d4;
	border-radius: 15px;
	background-color: #f8f8f8;
}

#search_text
{
	font-size: 0.8em;
	font-style: italic;
	color: #000000;
	width: 700px;
	height: 30px;
	border: none;
	border-radius: 20px;
	padding-left: 10px;
	background-color: #f8f8f8;
}

#submit_img
{
	/*border:2px solid red;*/
	/*background-color: #000000;*/
	height: 30px;
}

/* Login et panier haut droite */

.login_basket
{
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

/* Login (connexion) */

#login a
{
	color: #181818;
	text-decoration: none;
}

#connexion
{
	padding-right: 10px;
	border-right: 1px solid black;
	text-align: center;
	font-size: 0.75em;		
}

#login a:hover
{
	color: #5bc7ab;
}

/* Panier et nombre d'article */

#basket
{
	padding-left: 10px;
	margin-right: 10px;
	color: #181818;
	text-decoration: none;
	font-size: 0.75em;
	position: relative;
}

#basket:hover
{
	/*color: #5bc7ab;*/
}

#panier img
{
	height: 30px;
}

#nbr_article_dans_panier
{
	position: absolute;
	left: 32px;
	font-size: 1em;
	background-color: #5bc7ab;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	line-height: 20px;
}

#panier_reduit
{
	position: absolute;
	top: 42px;
	right: 10px;
	display: none;
	border: 0;
	width: 300px;
	background-color: white;
	box-shadow: 0 0 5px grey;
	z-index: 1000;
}

#ajout_dans_panier
{
	list-style: none;
	padding: 0;
	text-align: left;
}

#ajout_dans_panier li
{
	height: 70px;
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

#voir_panier
{
	position: relative;
	display: block;
    text-decoration: none;
    width: 80%;
    height: 30px;
    padding-top: 10px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: #5bc7ab;
    border: 0;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
}

#voir_panier:hover
{
	opacity: 0.8;
}

/* Mise en forme de chaque article du panier */

#panier_vide_msg
{
	text-align: center;
}

/* pour les test du panier */
/*

#ajout_danspanier
{
	width: 300px;
}

#ajout_danspanier img
{
	height: 70px;
	float: left;
	margin-right: 10px;
}
*/

#ajout_dans_panier img /* en production: supprimer dessus */
{
	height: 70px;
	float: left;
	margin-right: 10px;
}

.panier_titre
{
	padding-top: 5px;
}

.panier_sousTitre
{
	font-size: grey;
}

.panier_prixArticle
{
	margin-right: 10px;
	float: right;
}

/* Partie horizontale 2/2 : Navigation des menus */
/* Navigation */

.bandeau_fond
{
	background: #5bc7ab;
	opacity: 1;
	min-width: 1000px;
}

.bandeau_menu
{
	/*display: flex;
	justify-content: space-between;*/
	margin: auto;
	width: 1000px;

}

#navigation ul
{
	list-style-type: none;
    display: inline-flex;
    margin: 0;
    height: 2.5em;
    padding-left: 0;
}

#navigation li
{
	margin: auto;
}

#navigation li a
{
    font-size: 0.9em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.85em 1em;
}

#navigation a:hover
{
    color: #5bc7ab;
    background-color: #FFFFFF;
}

/* corps de la page*/

/*#corps_page
{
	width: 900px;
	margin: auto;
	padding-top: 2px;
	min-height: 500px;
}*/

/* Footer */

footer
{
    background-color: #5bc7ab;
    min-width: 1000px;
}

footer h2
{
	color: black;
}

#corps_footer
{
	width: 1000px;
	margin: auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#liens_bas
{
	list-style-type: none;
}