{% load static %}
<section class="addrapid">
	<div class="backgr_gris">
	</div>
	<div class="addpart">
		<div class="consigne_forme consigne">
			<table class="consigne_table">
				<tr>
					<th><img src="{% static "boutique/images/leBocalTampon.png" %}" alt="Logo Bocal S" id="img_s" /></th>
					<th><img src="{% static "boutique/images/leBocalTampon.png" %}" alt="Logo Bocal M" id="img_m" /></th>
					<th><img src="{% static "boutique/images/leBocalTampon.png" %}" alt="Logo Bocal L" id="img_l" /></th>
					<th><img src="{% static "boutique/images/leBocalTampon.png" %}" alt="Logo Bocal XL" id="img_xl" /></th>
				</tr>
				<tr>
					<td><span id="val_s_max">260</span>g</td>
                       <td><span id="val_m_max">520</span>g</td>
                       <td><span id="val_l_max">780</span>g</td>
                       <td><span id="val_xl_max">1040</span>g</td>
				</tr>
                   <tr>
					   <td>0,63 €</td>
                       <td>1,26 €</td>
                       <td>1,89 €</td>
                       <td>2,52 €</td>
                   </tr>
			</table>

			<div class="zone_kraft">
				<p>
					Supplément emballage kraft :<br><br>
					<span>+ 0,10 €</span>
				</p>
			</div>
		</div>
	</div>
</section>
