{% load static %}
<div class="fTrier">
	<div class="margeTr notMin">
	</div>
	<div class="corpsTr">
		<form method="GET" hidden>
			<input name="query" type="hidden" value="{{ query }}">
			<input name="tr" class="InputTr" type="hidden" value="{%if tr %}{{ tr }}{% endif %}">
			<input name="fi" class="InputFi" type="hidden" value="{%if fi %}{{ fi }}{% endif %}">
			<input name="ray" class="InputRay" type="hidden" value="{%if ray %}{{ ray }}{% endif %}">
			<input class="btnInputRayTr" type="submit" value="Appliquer">
		</form>
		<div class="effFiltre">
			<button class="btnCroix notMin" type="button"></button>
			<button class="btnEff notMin" type="button">Effacer</button>
		</div>
		<div class="partRayon">
			<button class="btnInputRay" type="button" hidden>Appliquer</button>
			{% if fiCat %}
			<h2>Catégories</h2>
			{% for x, y in fiCat.items %}
			<div class="ensListe">
				{% for w, z in y.items %}
				{% if forloop.first %}
				<h3>{{ w.cat_mere }}</h3>
				<div class="ensCheckbox">{% endif%}
					<div class="checkboxFi ficat" data-ray="{{ w.id }}">{{ w }}<em> ({{ z }})</em></div>
					{% if forloop.last %}
				</div>{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<div class="partTrier">
			<button class="btnInputTr" type="button" hidden>Appliquer</button>
			<h2 class="trierMax notMin">Trier</h2>
			{% include 'boutique/trier.html' with classTrier='notMin' %}
			{% if fiProd %}
			<h2 class="notMin">Producteurs</h2>
			<h2 class="notMax">Filtres</h2>
			<h3 class="notMax">Producteurs</h3>
			<div class="ensCheckbox">
				{% for x, y in fiProd.items %}
				{% for w, z in y.items %}
				<div class="checkboxFi fiprod" data-fi="{{ w.id }}">{{ w }} <em>({{ z }})</em></div>
				{% endfor %}
				{% endfor %}
			</div>
			{% endif %}
			<div hidden>{{ temp }}</div>
		</div>
		<div class="valFiltre">
			<button class="btnInputDep" type="button">Voir les résultats</button>
		</div>
	</div>
</div>
